// Links Customizations - SDGA Custom Enhancements

// ============================================
// LINK COLOR VARIANTS
// ============================================

.link-primary {
  color: $primary-600 !important;

  &:hover,
  &:focus {
    color: $primary-400 !important;
    text-decoration-color: $primary-400 !important;
  }

  &:active {
    color: $primary-300 !important;
    text-decoration-color: $primary-300 !important;
  }
}

.link-secondary {
  color: $secondary-600 !important;

  &:hover,
  &:focus {
    color: $secondary-400 !important;
    text-decoration-color: $secondary-400 !important;
  }

  &:active {
    color: $secondary-300 !important;
    text-decoration-color: $secondary-300 !important;
  }
}

.link-success {
  color: $success-600 !important;

  &:hover,
  &:focus {
    color: $success-400 !important;
    text-decoration-color: $success-400 !important;
  }

  &:active {
    color: $success-300 !important;
    text-decoration-color: $success-300 !important;
  }
}

.link-danger {
  color: $danger-600 !important;

  &:hover,
  &:focus {
    color: $danger-400 !important;
    text-decoration-color: $danger-400 !important;
  }

  &:active {
    color: $danger-300 !important;
    text-decoration-color: $danger-300 !important;
  }
}

.link-warning {
  color: $warning-600 !important;

  &:hover,
  &:focus {
    color: $warning-400 !important;
    text-decoration-color: $warning-400 !important;
  }

  &:active {
    color: $warning-300 !important;
    text-decoration-color: $warning-300 !important;
  }
}

.link-info {
  color: $info-600 !important;

  &:hover,
  &:focus {
    color: $info-400 !important;
    text-decoration-color: $info-400 !important;
  }

  &:active {
    color: $info-300 !important;
    text-decoration-color: $info-300 !important;
  }
}