<div class="container py-5">
  <h1 class="display-4 mb-4">{{ 'tables.title' | translate }}</h1>
  <p class="lead mb-5">{{ 'tables.subtitle' | translate }}</p>

  <section class="demo-section">
    <h2>{{ 'tables.section_default' | translate }}</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 3.25rem;"><input type="checkbox"
                class="form-check-input form-check-input-sm ripple" id="chkDemoMd"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple"
                id="chkNeutralMd"></th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Doe</td>
            <td>@social</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table side-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 3.25rem;"><input type="checkbox"
                class="form-check-input form-check-input-sm ripple" id="chkDemoMd"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Doe</td>
            <td>@social</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" style="width: 3.25rem;"><input type="checkbox"
                class="form-check-input form-check-input-sm ripple" id="chkDemoMd"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Doe</td>
            <td>@social</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive">
      <table class="table table-striped side-borderless">
        <thead>
          <tr>
            <th scope="col" style="width: 3.25rem;"><input type="checkbox"
                class="form-check-input form-check-input-sm ripple" id="chkDemoMd"></th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row"><input type="checkbox" class="form-check-input form-check-input-sm ripple" id="chkDemoMd">
            </th>
            <td><a href="javascript:void(0);">Link</a></td>
            <td>Doe</td>
            <td>@social</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>