<header>
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container container-fluid px-0 px-md-2">
            <!-- Brand Section -->
            <div class="navbar-brand w-fit row col-2 col-sm-2 col-auto align-items-center mx-0">
                <a [routerLink]="['/']" class="col-auto">
                    <img src="./assets/images/SASOLogo.svg" alt="GEA Logo" class="logo" />
                </a>
            </div>

            <!-- Toggler Button -->
            <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="bi bi-list fs-1"></i>
            </button>

            <!-- Navbar Content -->
            <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-flex flex-grow-1 gap-1 mb-2 mb-lg-0 ps-4 ps-md-0 py-4 py-md-0">
                    <!-- <li class="nav-item MainTabIsActive"><a class="nav-link" href="home.html">Home</a></li> -->
                    <!-- <li class="nav-item"><a class="nav-link" href="content.html">About</a></li> -->

                    <!-- Other Pages Dropdown -->
                    <!-- <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownOtherPages" role="button">
              Other Pages
            </a>
            <ul ngbDropdownMenu aria-labelledby="navbarDropdownOtherPages">
              <li><a class="dropdown-item" href="content.html">Content</a></li>
              <li><a class="dropdown-item" href="majlisDashboard.html">Al Majlis Dashboard</a></li>
              <li><a class="dropdown-item" href="dashbaord.html">Dashbaord</a></li>
              <li><a class="dropdown-item" href="e-Participation.html">E-Participation</a></li>
              <li><a class="dropdown-item" href="faqs.html">FAQs</a></li>
              <li><a class="dropdown-item" href="help.html">Help</a></li>
              <li><a class="dropdown-item" href="login-Iqama.html">Iqama Login</a></li>
              <li><a class="dropdown-item" href="login.html">Login</a></li>
              <li><a class="dropdown-item" href="recoverAccount.html">Recover Account</a></li>
              <li><a class="dropdown-item" href="resetpassword.html">Reset Password</a></li>
              <li><a class="dropdown-item" href="signUp.html">signUp</a></li>
              <li><a class="dropdown-item" href="notFound.html">Not Found</a></li>
              <li><a class="dropdown-item" href="searchResult.html">Search Result</a></li>
              <li><a class="dropdown-item" href="services.html">service Page</a></li>
              <li><a class="dropdown-item" href="sitemap.html">Sitemap</a></li>
            </ul>
          </li> -->

                    <!-- Components Dropdown -->
                    <!-- <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdownComponents" role="button">
              Components
            </a>
            <ul ngbDropdownMenu aria-labelledby="navbarDropdownComponents">
              <li><a class="dropdown-item" href="chatbot.html">Chatbot</a></li>
              <li><a class="dropdown-item" href="cookiesBanner.html">Cookies Banner</a></li>
              <li><a class="dropdown-item" href="form.html">Form</a></li>
              <li><a class="dropdown-item" href="tabs.html">Tabs</a></li>
              <li><a class="dropdown-item" href="expcoll.html">Expand Collapse</a></li>
              <li><a class="dropdown-item" href="popup.html">Popup</a></li>
              <li><a class="dropdown-item" href="heroSlider.html">Hero Slider</a></li>
              <li><a class="dropdown-item" href="cardSlider.html">Card Slider</a></li>
              <li><a class="dropdown-item" href="rating.html">Rating</a></li>
              <li><a class="dropdown-item" href="TopNavigation.html">Top Navigation</a></li>
              <li><a class="dropdown-item" href="dashbaordChart.html">Charts</a></li>
            </ul>
          </li> -->
                    @for (item of routeLinks; track $index) {
                    @if (item.isExternal) {
                    <li class="nav-item p-1">
                        <a class="nav-link" [href]="item.appendCulture ? getRouteWithCutlure(item.route) : item.route()"
                            [attr.target]="item.target">{{item.textKey | translate}}</a>
                    </li>
                    } @else {
                    <li class="nav-item p-1" routerLinkActive="active"
                        [routerLinkActiveOptions]="(item.routerLinkActiveOptions || {exact: false})">
                        <a class="nav-link" [routerLink]="[item.route()]">
                            {{item.textKey | translate}}
                        </a>
                    </li>
                    }
                    }

                    <!-- <li class="nav-item"><a class="nav-link" href="Entity.html">{{'HEADER.E-SERVICES' | translate}}</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">{{'HEADER.FAQ' | translate}}</a></li>
          <li class="nav-item"><a class="nav-link" href="contact.html">{{'HEADER.CONTACT_US' | translate}}</a></li> -->
                </ul>

                <!-- Search and Buttons -->
                <form
                    class="d-flex flex-grow-1 gap-1 align-items-center justify-content-center justify-content-md-end flex-wrap">
                    <!-- <div class="input-group px-2 d-flex" id="input-group">
            <span class="input-group-text px-0 bg-transparent border-0" id="search-input-icon">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control bg-transparent border-0 shadow-none flex-grow-1" placeholder="Search"
              aria-label="Search" aria-describedby="search-input-icon" id="search-input" />
          </div> -->
                    <a href="" type="button" id="langButton" (click)="switchLanguage($event)" class="btn shadow-none">
                        <i class="bi bi-translate fs-5 px-1"> </i>
                        <span>{{languageSwitchText()}}</span>
                    </a>

                    <a href="" type="button" (click)="onLoginClick($event)" class="btn shadow-none">
                        <i class="bi bi-person fs-5"></i>
                        @if (auth.isAuthenticatedUser()) {
                        <span class="login">{{(localize.isArabic() ? auth.userName()?.nameAr : auth.userName()?.nameEn)
                            ?? '' |
                            translate }}</span>
                        }
                        @else {
                        <span class="login">{{'HEADER.LOGIN' | translate }}</span>
                        }
                    </a>
                    @if(auth.isAuthenticatedUser()) {
                    <a href="" type="button" (click)="onLogoutClick($event)" class="btn shadow-none">
                        <span class="login">{{'HEADER.LOGOUT' | translate }}</span>
                        <i class="bi bi-box-arrow-right fs-5"></i>
                    </a>
                    }
                </form>
            </div>
        </div>
    </nav>
</header>