
<!-- footer - Start -->
<footer class="py-5">
  <div class="container">
    <div class="row m-0 g-3">
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class=" pb-2">{{'FOOTER.OVERVIEW' | translate}}</h5>
        <ul class="list-unstyled mt-2">
          <li class="mb-2">
            <a class=" text-decoration-none"
              href="https://www.saso.gov.sa/en/about/Pages/vision.aspx">{{'FOOTER.ABOUT_SASO' | translate}}</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class="pb-2">{{'FOOTER.IMPORTANT_LINKS' | translate}}</h5>
        <ul class="list-unstyled mt-2">
          <li class="mb-2">
            <a class=" text-decoration-none" href="https://my.gov.sa/en" target="_blank">
              {{'FOOTER.NATIONAL_GOVERNMENT_PORTAL' | translate}} &nbsp;<i class="bi bi-box-arrow-up-left "></i>
            </a>
          </li>
          <li class="mb-2">
            <a class=" text-decoration-none" href="https://open.data.gov.sa/en" target="_blank">
              {{'FOOTER.OPEN_DATA_PLATFORM' | translate}} &nbsp;<i class="bi bi-box-arrow-up-left "></i></a>
          </li>
          <li class="mb-2">
            <a class=" text-decoration-none" href="https://eparticipation.my.gov.sa/en/" target="_blank">
              {{'FOOTER.E-PARTICIPATION' | translate}} &nbsp;<i class="bi bi-box-arrow-up-left "></i></a>
          </li>
          <li class="mb-2">
            <a class=" text-decoration-none" href="https://portal.etimad.sa/en-us" target="_blank">
              {{'FOOTER.FINANCIAL_SERVICE_PLATFORM'
              | translate}} &nbsp;<i class="bi bi-box-arrow-up-left "></i></a>
          </li>
          <li class="mb-2">
            <a class=" text-decoration-none"
              href="https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/2734fa93-a1a6-4c38-8e0d-a9a700f1e46f/2 " target="_blank">{{'FOOTER.COUNSILE_OF_MINISTERS_EXPERTS'
              | translate}} &nbsp;<i class="bi bi-box-arrow-up-left "></i></a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <h5 class=" pb-2">{{'FOOTER.SUPPORT_AND_HELP' | translate}}</h5>
        <ul class="list-unstyled mt-2">
          <li class="mb-2"><a class=" text-decoration-none" href="/en/contactus/Pages/landingTicket.aspx"
              target="_blank">{{'FOOTER.CONTACT_US' | translate}}</a></li>
          <li class="mb-2">
            <a class=" text-decoration-none" href="/en/faq/pages/default.aspx" target="_blank">{{'FOOTER.FAQ' |
              translate}}</a>
          </li>
        </ul>
      </div>
      <div class="followUs col-12 col-md-6 col-lg-3">
        <h5 class="pb-2">{{'FOOTER.FOLLOW_US' | translate}}</h5>
        <ul class="list-unstyled mt-3 d-flex gap-2">
          <li class="rounded">
            <a href="https://twitter.com/SASOGOV" target="_blank" class=" text-decoration-none py-1 px-2 d-block">
              <i class="bi  bi-twitter-x"></i>
            </a>
          </li>
          <li class="rounded">
            <a href="https://www.facebook.com/SASOGOV" target="_blank" class=" text-decoration-none py-1 px-2 d-block">
              <i class="bi  bi-facebook"></i>
            </a>
          </li>
          <li class="rounded">
            <a href="https://www.youtube.com/user/sasogov" target="_blank" class=" text-decoration-none py-1 px-2 d-block">
              <i class="bi  bi-youtube"></i>
            </a>
          </li>
          <li class="rounded">
            <a href="https://www.snapchat.com/add/Sasogov" target="_blank" class=" text-decoration-none py-1 px-2 d-block">
              <i class="bi  bi-snapchat"></i>
            </a>
          </li>
          <li class="rounded">
            <a href="https://www.instagram.com/sasogov" target="_blank" class=" text-decoration-none py-1 px-2 d-block">
              <i class="bi  bi-instagram"></i>
            </a>
          </li>
        </ul>
        <div class="acceptability mt-5">
          <h5 class=" pb-2">{{'FOOTER.EASE_OF_ACCESS' | translate}}</h5>
          <ul class="list-unstyled mt-3 d-flex gap-2">
            <li class="rounded py-1 px-2 pointer-event">
              <i class="bi  bi-hand-index"></i>
            </li>
            <li class="rounded py-1 px-2 pointer-event">
              <i class="bi  bi-zoom-in"></i>
            </li>
            <li class="rounded py-1 px-2 pointer-event">
              <i class="bi  bi-eye"></i>
            </li>
            <li class="rounded py-1 px-2 pointer-event">
              <i class="bi  bi-eye"></i>
            </li>
          </ul>
        </div>
        <!-- <div class="acceptability mt-5">
          <h5 class="pb-2 ">{{'FOOTER.TAAKAD_APP' | translate}}</h5>
          <div class="storelogo list-unstyled mt-3 d-block gap-2">
            <a href="https://play.google.com/store/apps/details?id=com.sa.gov.saso.android.qee" target="_blank">
              <img src="./assets/images/GooglePlayLogo.svg" alt="Taakad app, Android store">
            </a>
            <a href="https://itunes.apple.com/us/app/%D8%AA%D8%A3%D9%83%D8%AF/id1017292828?mt=8&amp;uo=4"
              target="_blank">
              <img src="./assets/images/AppStoreLogo.svg" alt="Taakad app, Apple Store">
            </a>
            <a href="https://appgallery.huawei.com/#/app/C101948927" target="_blank">
              <img src="./assets/images/AppGalleryLogo.svg" alt="Taakad App, Huawei Store"
                style="width:128px;height:38px">
            </a>
          </div>

        </div> -->
      </div>

    </div>

    <div class="mt-5 gy-3">
      <div class="col-12 col-md-6">
        <ul class="list-unstyled d-flex gap-2 mb-4">
          <li><a class=""
              href="https://www.saso.gov.sa/en/privacy_policy/Pages/default.aspx" target="_blank">{{'FOOTER.TRMS_AND_CONDITIONS' |
              translate}}</a></li>
          <li><a class="" href="https://www.saso.gov.sa/en/sitemap/Pages/default.aspx" target="_blank">{{'FOOTER.SITE_MAP' |
              translate}}</a></li>
        </ul>
        <p class="">{{'FOOTER.COPY_RIGHTS' | translate}}</p>
        <!-- <p class="small  mt-3">last update date: 20/01/2025</p> -->
      </div>
      <div
        class="logos col-12 col-md-6 d-flex gap-2 flex-wrap justify-content-center justify-content-md-end align-items-center">
        <img src="./assets/images/Gov.sa-logo.svg" alt="" class="py-1 px-2" />
        <img src="./assets/images/2030-logo.svg" alt="" class="py-1 px-2" />
        <img src="./assets/images/SASO-logo.svg" alt="" class="py-1 px-2" />
        <!-- <img src="./assets/images/shared/registerd-on-dga.png" alt="" /> -->
      </div>
    </div>
  </div>
</footer>
<!-- footer - End -->
 
<footer _ngcontent-ng-c1794507963="" class="py-5">
    <div _ngcontent-ng-c1794507963="" class="container">
        <div _ngcontent-ng-c1794507963="" class="row m-0 g-3">
            <div _ngcontent-ng-c1794507963="" class="col-12 col-md-6 col-lg-3">
                <h5 _ngcontent-ng-c1794507963="" class="pb-2">نظرة عامة</h5>
                <ul _ngcontent-ng-c1794507963="" class="list-unstyled mt-2">
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://www.saso.gov.sa/en/about/Pages/vision.aspx" class="text-decoration-none">عن
                            الهيئة</a></li>
                </ul>
            </div>
            <div _ngcontent-ng-c1794507963="" class="col-12 col-md-6 col-lg-3">
                <h5 _ngcontent-ng-c1794507963="" class="pb-2">روابط هامة</h5>
                <ul _ngcontent-ng-c1794507963="" class="list-unstyled mt-2">
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://my.gov.sa/en" target="_blank" class="text-decoration-none"> المنصة الوطنية
                            السعودية &nbsp;<i _ngcontent-ng-c1794507963="" class="bi bi-box-arrow-up-left"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://open.data.gov.sa/en" target="_blank" class="text-decoration-none"> منصة
                            البيانات المفتوحة &nbsp;<i _ngcontent-ng-c1794507963=""
                                class="bi bi-box-arrow-up-left"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://eparticipation.my.gov.sa/en/" target="_blank" class="text-decoration-none">
                            منصة المشاركة المجتمعية (تفاعل) &nbsp;<i _ngcontent-ng-c1794507963=""
                                class="bi bi-box-arrow-up-left"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://portal.etimad.sa/en-us" target="_blank" class="text-decoration-none"> منصة
                            الخدمات المالية (اعتماد) &nbsp;<i _ngcontent-ng-c1794507963=""
                                class="bi bi-box-arrow-up-left"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="https://laws.boe.gov.sa/BoeLaws/Laws/LawDetails/2734fa93-a1a6-4c38-8e0d-a9a700f1e46f/2 "
                            target="_blank" class="text-decoration-none">هيئة الخبراء بمجلس الوزراء &nbsp;<i
                                _ngcontent-ng-c1794507963="" class="bi bi-box-arrow-up-left"></i></a></li>
                </ul>
            </div>
            <div _ngcontent-ng-c1794507963="" class="col-12 col-md-6 col-lg-3">
                <h5 _ngcontent-ng-c1794507963="" class="pb-2">الدعم والمساعدة</h5>
                <ul _ngcontent-ng-c1794507963="" class="list-unstyled mt-2">
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="/en/contactus/Pages/landingTicket.aspx" target="_blank"
                            class="text-decoration-none">تواصل معنا</a></li>
                    <li _ngcontent-ng-c1794507963="" class="mb-2"><a _ngcontent-ng-c1794507963=""
                            href="/en/faq/pages/default.aspx" target="_blank" class="text-decoration-none">الأسئلة
                            الشائعة</a></li>
                </ul>
            </div>
            <div _ngcontent-ng-c1794507963="" class="followUs col-12 col-md-6 col-lg-3">
                <h5 _ngcontent-ng-c1794507963="" class="pb-2">تابعنا على</h5>
                <ul _ngcontent-ng-c1794507963="" class="list-unstyled mt-3 d-flex gap-2">
                    <li _ngcontent-ng-c1794507963="" class="rounded"><a _ngcontent-ng-c1794507963=""
                            href="https://twitter.com/SASOGOV" target="_blank"
                            class="text-decoration-none py-1 px-2 d-block"><i _ngcontent-ng-c1794507963=""
                                class="bi bi-twitter-x"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="rounded"><a _ngcontent-ng-c1794507963=""
                            href="https://www.facebook.com/SASOGOV" target="_blank"
                            class="text-decoration-none py-1 px-2 d-block"><i _ngcontent-ng-c1794507963=""
                                class="bi bi-facebook"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="rounded"><a _ngcontent-ng-c1794507963=""
                            href="https://www.youtube.com/user/sasogov" target="_blank"
                            class="text-decoration-none py-1 px-2 d-block"><i _ngcontent-ng-c1794507963=""
                                class="bi bi-youtube"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="rounded"><a _ngcontent-ng-c1794507963=""
                            href="https://www.snapchat.com/add/Sasogov" target="_blank"
                            class="text-decoration-none py-1 px-2 d-block"><i _ngcontent-ng-c1794507963=""
                                class="bi bi-snapchat"></i></a></li>
                    <li _ngcontent-ng-c1794507963="" class="rounded"><a _ngcontent-ng-c1794507963=""
                            href="https://www.instagram.com/sasogov" target="_blank"
                            class="text-decoration-none py-1 px-2 d-block"><i _ngcontent-ng-c1794507963=""
                                class="bi bi-instagram"></i></a></li>
                </ul>
                <div _ngcontent-ng-c1794507963="" class="acceptability mt-5">
                    <h5 _ngcontent-ng-c1794507963="" class="pb-2">أدوات سهولة الوصول</h5>
                    <ul _ngcontent-ng-c1794507963="" class="list-unstyled mt-3 d-flex gap-2">
                        <li _ngcontent-ng-c1794507963="" class="rounded py-1 px-2 pointer-event"><i
                                _ngcontent-ng-c1794507963="" class="bi bi-hand-index"></i></li>
                        <li _ngcontent-ng-c1794507963="" class="rounded py-1 px-2 pointer-event"><i
                                _ngcontent-ng-c1794507963="" class="bi bi-zoom-in"></i></li>
                        <li _ngcontent-ng-c1794507963="" class="rounded py-1 px-2 pointer-event"><i
                                _ngcontent-ng-c1794507963="" class="bi bi-eye"></i></li>
                        <li _ngcontent-ng-c1794507963="" class="rounded py-1 px-2 pointer-event"><i
                                _ngcontent-ng-c1794507963="" class="bi bi-eye"></i></li>
                    </ul>
                </div>
            </div>
        </div>
        <div _ngcontent-ng-c1794507963="" class="mt-5 gy-3">
            <div _ngcontent-ng-c1794507963="" class="col-12 col-md-6">
                <ul _ngcontent-ng-c1794507963="" class="list-unstyled d-flex gap-2 mb-4">
                    <li _ngcontent-ng-c1794507963=""><a _ngcontent-ng-c1794507963=""
                            href="https://www.saso.gov.sa/en/privacy_policy/Pages/default.aspx" target="_blank">الشروط
                            والأحكام</a></li>
                    <li _ngcontent-ng-c1794507963=""><a _ngcontent-ng-c1794507963=""
                            href="https://www.saso.gov.sa/en/sitemap/Pages/default.aspx" target="_blank">خارطة
                            الموقع</a></li>
                </ul>
                <p _ngcontent-ng-c1794507963="">جميع الحقوق محفوظة للهيئة السعودية للمواصفات والمقاييس والجودة © 2025
                </p>
            </div>
            <div _ngcontent-ng-c1794507963=""
                class="logos col-12 col-md-6 d-flex gap-2 flex-wrap justify-content-center justify-content-md-end align-items-center">
                <img _ngcontent-ng-c1794507963="" src="./assets/images/Gov.sa-logo.svg" alt="" class="py-1 px-2"><img
                    _ngcontent-ng-c1794507963="" src="./assets/images/2030-logo.svg" alt="" class="py-1 px-2"><img
                    _ngcontent-ng-c1794507963="" src="./assets/images/SASO-logo.svg" alt="" class="py-1 px-2"></div>
        </div>
    </div>
</footer>