$toast-max-width:                   30.25rem;
$toast-padding-y:                   $spacer;
$toast-padding-x:                   $spacer * 1.5;
$toast-font-size:                   1rem;
$toast-color:                       $gray-700;
$toast-background-color:            $white;
$toast-border-width:                var(--#{$prefix}border-width);
$toast-border-color:                var(--#{$prefix}border-color-translucent);
$toast-border-radius:               $radius-md;
$toast-box-shadow:                  $box-shadow-lg;
$toast-spacing:                     $container-padding-x;
$toast-icon-bg:                     var(--#{$prefix}toast-icon-bg);
$toast-icon-color:                  var(--#{$prefix}toast-icon-color);
$toast-title-color:                 var(--#{$prefix}toast-title-color);
$toast-header-color:                var(--#{$prefix}secondary-color);
$toast-header-background-color:     transparent;
$toast-header-border-color:         transparent;